{{#isHeaderParam}}@RequestHeader(value = "{{baseName}}", required = {{#required}}true{{/required}}{{^required}}false{{/required}}{{#defaultValue}}, defaultValue = "{{{.}}}"{{/defaultValue}}){{>optionalDataType}} {{paramName}}{{/isHeaderParam}}